In [10]:
# What is the URL to our table?
url = "https://en.wikipedia.org/wiki/List_of_hills_of_Cornwall"

In [11]:
# Use pandas to download all of the tables on the page
import pandas as pd

tables = pd.read_html(url)
len(tables)

3

In [12]:
# which table are you interested in?

df = tables[1]
df.head(2)

,Hill,Height (m),Prom. (m),Grid ref.,Class,Parent,Range/Region,Remarks,Image
0,Brown Willy[1],420,314,SX158799,Marilyn,High Willhays,Bodmin Moor,Cornwall's county top. Highest of Cornwall's 5...,NaN
1,Rough Tor[4],400,87,SX145807,TuMP,Brown Willy,Bodmin Moor,Bodmin Moor's second highest summit. Site of t...,NaN

In [13]:
# Count the Range/Region column and turn the value counts
# into a dataframe with the name of the region as the column 'name'
# and the count as the column 'count'
updated_df = df['Range/Region'].value_counts().to_frame(name='count').reset_index()
updated_df

              index  count
0       Bodmin Moor     20
1    Cornish Killas      7
2      West Penwith      4
3      Carnmenellis      3
4        Hensbarrow      2
5  West Bodmin Moor      1
6  East Bodmin Moor      1
7      Tamar Valley      1

In [14]:
# to_csv will save the dataframe as a csv file
# and index=False will remove the index column
df.to_csv("hills.csv", index=False)